
@media only screen and (max-device-width: 450px) {
  button {
    height: 64px;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  h1 {
    text-align: center;
  }

  .titulo-navegacao {
    font-size: 32rem;
  }

  .content-continer {
    max-width: 96vw;
    width: 96vw;
    
  }

  .section-portifolio-grid {
    row-gap: 36px;
    grid-template-columns:  auto;
   
    margin-top: 24px;
   
  }
 
  .hero-info-image {
    width: 202px;
  }

  .barra-navegacao {
   
    width: 100%;
   margin-top: 24px;
  }


 .hero-info-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
 }

  .hability-cards-container {
    row-gap: 36px;
    grid-template-columns:  auto;
    
    margin-top: 12px;
  }

  .hero-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
  width: 100%;
}

.links-navegacao {
  display: none;
}

.section-hero {
  height: auto;
  padding-bottom:48px ;
}

}
