
@media only screen and (max-device-width: 450px) {
  button {
    height: 80px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  h1 {
    text-align: center;
  }

  .titulo-navegacao {
    font-size: -3rem;
    
  }

  .content-container {
    max-width: 96vw;
    width: 96vw;
    
  }

  .section-portifolio-grid {
    row-gap: 36px;
    
   grid-template-columns: auto;
    margin-top: 24px;
   
  }
 
  .hero-info-image {
    width: 70vw;
    object-fit: cover;
    
  }

  .barra-navegacao {
   
    width: 22rem;
   margin-top: 2rem;
  
  }


 .hero-info-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
 }

  .hability-cards-container {
    row-gap: 2rem;
    margin-top: 5rem;
   grid-template-columns: auto auto;
   flex-direction: column;
   align-items: flex-start;
   
  }

  .hero-info-title {
    font-size: 56px;
    margin-top: 12px;
    
  }

  .hero-info-icons-img {
    width: 56px;
    height: 56px;
    
  }

  .hero-info-icons-container {
    width: 25rem;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 30rem;
  }

  .footer-content {
  width: 100%;
}

.links-navegacao {
  display: none;
}

.section-hero {
  height: auto;
  padding-bottom:29rem ;
}

.section-habilities{
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

}
